<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">

			<div id="content" class="col-md-12">
				<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<strong th:text="#{user.change-password.title}"></strong>
					</div>
					<div class="panel-body">
						<div class="col-sm-10">
							<form id="userForm" th:action="@{/user/change-password-save}" th:object="${user}" method="post">
								<div th:remove="tag" th:include="@{user/_user-form} :: user-form"></div>

								<div class="form-actions">
									<button type="submit" class="btn btn-primary">
										<i class="glyphicon glyphicon-ok"></i>
										<span th:text="#{common.save}"></span>
									</button>
									<a th:href="@{/user/list}" class="btn">
										<i class="glyphicon glyphicon-remove-circle"></i>
										<span th:text="#{common.cancel}"></span>
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
</body>
</html>