<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">

			<div id="content" class="col-md-12">
				<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>

				<div class="row">
					<div class="col-sm-3">
						<div class="panel panel-primary text-center">
							<img th:if="${!#strings.isEmpty(user.pictureGeneratedName)}" class="img-thumbnail" th:src="@{/uploadedfiles/User/} + ${user.id} + '/' + ${user.pictureGeneratedName}"/>
							<h1 th:unless="${!#strings.isEmpty(user.pictureGeneratedName)}">
								<span class="glyphicon glyphicon-user"></span>
							</h1>
						</div>
						<br/>
						<div class="form-group">
							<label for="name" class="control-label" th:text="#{user.name} + ': '"></label>
							<span id="name" th:text="${user.name}"></span>
						</div>
						<div class="form-group">
							<label for="email" class="control-label" th:text="#{user.email} + ': '"></label>
							<span id="email" th:text="${user.email}"></span>
						</div>

						<div class="form-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong th:text="#{user.groups}"></strong>
								</div>
							</div>
							<ul class="list-group" th:each="group : ${user.groups}">
								<li class="list-group-item">
									<a th:href="@{/user-group/view/} + ${group.id}" th:text="${group.name}" sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER_LIST, ROLE_USER_PERMISSION_LIST, ROLE_USER_PERMISSION_VIEW')"></a>
									<span sec:authorize="!hasAnyRole('ROLE_ADMIN, ROLE_USER_LIST, ROLE_USER_PERMISSION_LIST, ROLE_USER_PERMISSION_VIEW')" th:text="${group.name}"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<strong th:text="#{user.index.title}"></strong>
							</div>
							<div class="panel-body" th:text="#{user.index.body}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
</body>
</html>