<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">
			<div id="content" class="col-md-12">
				<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong th:text="#{project.list.title}"></strong>
					</div>
					<br/>
					<div class="container">
						<div class="col-md-12">
							<div class="table-responsive">
								<table id="userTable" class="table table-striped table-hover table-bordered datatables">
									<thead>
										<tr>
											<th th:text="#{user.picturefiles}" style="width: 45px;"></th>
											<th th:text="#{user.name}"></th>
											<th th:text="#{user.email}"></th>
											<th th:text="#{user.groups}"></th>
											<th sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER_LIST, ROLE_USER_EDIT, ROLE_USER_REMOVE')" th:text="#{common.actions}"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
	<script th:inline="javascript">
		var listTable;
		$(document).ready(function() {
			listTable = $('#userTable').dataTable({ 
		        'bProcessing' : true, 
		        'bServerSide' : true, 
		        'aoColumns' : [ 
									{	
										'sName' : /*[[${#messages.msg('user.picturefiles')}]]*/ ''
										, 
									 	'bSortable' : false 
									},
		                            {	
		                            	'sName' : /*[[${#messages.msg('user.name')}]]*/ '' 
		                            }, 
		                            {	
		                            	'sName' :  /*[[${#messages.msg('user.email')}]]*/ '' 
		                            }, 
		                            {	
		                            	'sName' : /*[[${#messages.msg('user.groups')}]]*/ ''
		                            	, 
		                             	'bSortable' : false 
		                            },
		                            {	
		                            	'sName' : /*[[${#messages.msg('common.actions')}]]*/ ''
		                            	, 
		                             	'bSortable' : false 
		                            } 
		                        ] 
		            , 
		        'aaSorting': [[0, "asc"]], 
		        'sAjaxSource': App.contextPath + '/user/search',  
		        'bRetrieve': true, // retrieve table as jquery elements to be manipulated 
		        'bDestroy': true,
		        "sServerMethod": "POST"
			}); 
		});
	</script>

</body>
</html>