<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">

			<div class="col-md-12">
				<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<strong th:text="#{user.view.title}"></strong>
					</div>
					<div class="panel-body">
						<div class="col-sm-2">
							<img th:if="${!#strings.isEmpty(user.pictureGeneratedName)}" class="img-thumbnail" th:src="@{/uploadedfiles/User/} + ${user.id} + '/' + ${user.pictureGeneratedName}" />
							<h1 th:unless="${!#strings.isEmpty(user.pictureGeneratedName)}">
								<span class="glyphicon glyphicon-user"></span>
							</h1>
						</div>
						<div class="col-sm-10">
							<form id="userForm" action="#" th:object="${user}" method="post">
								<div th:remove="tag" th:include="@{user/_user-form} :: user-form"></div>

								<br/>
								<div class="form-actions">
									<a th:href="@{/user/edit/} + ${user.id}" class="btn btn-default" sec:authorize="hasAnyRole('ROLE_ADMIN,ROLE_USER_EDIT')">
										<i class="glyphicon glyphicon-edit"></i>
										<span th:text="#{common.edit}" th:remove="tag"></span>
									</a>

									<a th:href="@{/user/list/}" class="btn btn-default back">
										<i class="glyphicon glyphicon-backward"></i>
										<span th:text="#{common.back}" th:remove="tag"></span>
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
</body>
</html>