<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="permission-form">

	<input type="hidden" id="id" name="id" th:value="${userGroup.id}" />

	<ul class="nav nav-tabs" id="formTab">
		<li class="active">
			<a href="#home">
				<span class="glyphicon glyphicon-tasks"></span>
			</a>
		</li>
		<li th:if="${readOnly}">
			<a href="#authorShipTab">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<br/>
			<div class="form-group">
				<label for="name" class="control-label" th:text="#{user.group.name}"></label>
				<input type="text" id="name" class="form-control" th:field="*{name}" th:readonly="${readOnly}" th:maxlength="${+T(com.openscrum.common.util.InputLength).NAME}" />
			</div>
			<div class="form-group" th:unless="${readOnly}">
				<label th:text="#{user.group.permissions.selected}" class="control-label"></label>
				<select name="permissions" id="listTo" size="5" multiple="true" class="form-control chosen-select applyChosen" th:disabled="${readOnly}" th:attr="data-placeholder=#{common.select}">
					<div th:each="permission : ${permissionList}" th:remove="tag">
						<option th:value="${permission}" th:text="${permission}" th:selected="${not #sets.isEmpty(userGroup.permissions) and #sets.contains(userGroup.permissions, permission)}"></option>
					</div>
				</select>
			</div>
			<div class="form-group" th:if="${readOnly}">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong th:text="#{user.group.permissions.selected}"></strong>
					</div>
					<ul class="list-group" th:each="permission : *{permissions}">
						<li class="list-group-item">
							<span th:text="${#messages.msg(#strings.append('user.permission.',permission))}"></span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<br/>
		<div class="tab-pane" id="authorShipTab">
			<div th:remove="tag" th:include="@{fragments/_authorship} :: authorship"></div>
		</div>
	</div>

</body>
</html>