<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">

			<div id="content" class="col-md-12">
				
				<div class="col-md-12">
					<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>

					<!-- TODO Create dashboard right here... -->
					<div class="row">
						<div class="col-md-4 dashboard-widget">
							<div class="panel panel-default">
								<div class="panel-heading" th:text="#{projects}"></div>
								<ul id="projects" class="list-group">
								</ul>
							</div><!--/panel-->
						</div>
						<div class="col-md-4 dashboard-widget"></div>
						<div class="col-md-4 dashboard-widget"></div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div sec:authorize="isAuthenticated()" th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
	<div th:remove="tag" sec:authorize="!isAuthenticated()">
		<script th:src="@{/resources/app/js/login.js}"></script>
	</div>

	<script sec:authorize="isAuthenticated()" th:src="@{/resources/app/js/index.js}"></script>
</body>
</html>