<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="authorship">

	<div class="form-group " th:style="${!readOnly} ? 'display: none;' : ''">
		<label class="control-label" th:text="#{common.author}"></label>

		<input type="hidden" th:field="*{createdBy.id}" class="form-control" />

		<p th:if="*{createdBy}" th:text="*{createdBy.name}"></p>
	</div>

	<div class="form-group ">
		<label class="control-label" th:text="#{common.creationDate}"></label>

		<input type="hidden" th:field="*{creationDate}" class="form-control" />

		<p th:if="*{creationDate}" th:text="*{#dates.format(creationDate, #messages.msg('common.datePattern'))}"></p>
	</div>

	<div class="form-group " th:if="*{lastUpdatedBy}" th:style="${!readOnly} ? 'display: none;' : ''">
		<label class="control-label" th:text="#{common.lastUpdatedBy}"></label>

		<input type="hidden" class="form-control hide" th:field="*{lastUpdatedBy.id}" />

		<p th:if="*{lastUpdatedBy}" th:text="*{lastUpdatedBy.name}"></p>
	</div>

	<div class="form-group " th:if="*{lastUpdateDate != null}" th:style="${!readOnly} ? 'display: none;' : ''">
		<label class="control-label" th:text="#{common.lastUpdateDate}"></label>

		<input type="hidden" th:field="*{lastUpdateDate}" class="form-control" />

		<p th:if="*{lastUpdateDate}" th:text="*{#dates.format(lastUpdateDate, #messages.msg('common.datePattern'))}"></p>
	</div>

</body>
</html>