<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="footer">
<noscript>
		<div class="alert alert-block col-md-10">
			<h4 class="alert-heading">Warning!</h4>
			<p>
				You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.
			</p>
		</div>
	</noscript>

	<!-- BEGIN LoadingDialog -->
	<div class="container ">
		<div class="row ">
			<div id="loadingDialog" class="modal fade text-center" tabindex="-1" data-role="dialog" aria-hidden="true" style="text-align: center;">
				<div>
					<div>
						<img th:src="@{/resources/app/img/ajax-loader.gif}" class="img-circle"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END Loading -->

	<!-- BEGIN EditDataDialog -->
	<div id="editData" class="modal-dialog fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 th:text="#{common.edit}"></h4>
				</div>

				<div class="modal-body">
					<input type="text" id="dataInput" class="input-block-level"/>
					<input type="hidden" id="editingFieldName" />
				</div>

				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">
						<i class="icon-remove-circle"></i>
						<span th:text="#{common.cancel}"></span>
					</a>
					<a href="#" class="btn btn-primary" onclick="editData();">
						<i class="icon-check"></i>
						<span th:text="#{common.ok}"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END EditDataDialog -->

	<!-- BEGIN RemoveConfirmationDialog -->
	<div id="removeConfirmationDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" th:text="#{common.remove}"></h4>
				</div>

				<div class="modal-body">
					<p th:utext="#{common.remove.msg}"></p>
					<input type="hidden" id="removeConfirmationUrl" />
					<input type="hidden" id="removeConfirmationObjectId" />
				</div>

				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">
						<i class="icon-remove-circle"></i>
						<span th:text="#{common.cancel}"></span>
					</a>
					<a href="#" class="btn btn-danger" onclick="callRemove();">
						<i class="icon-remove"></i>
						<span th:text="#{common.remove}"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div id="removeMsgDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 th:text="#{common.remove}"></h4>
				</div>

				<div class="modal-body">
					<p id="removeMsg"></p>
				</div>

				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">
						<i class="icon-check"></i>
						<span th:text="#{common.ok}"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- END RemoveConfirmationDialog -->

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="muted well">
					<small>&copy; </small>
					<small th:utext="#{footer.message}"> </small>
				</p>
			</div>
		</div>
	</div>

	<div th:remove="tag" th:include="@{fragments/scriptsTag} :: scriptsTag"></div>

</body>
</html>