<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headTag">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<title th:text="#{app.title}"></title>

<link rel="icon" type="image/png" th:href="@{/resources/app/img/favicon.ico}" />

<!-- Bootstrap -->
<link th:href="@{/resources/plugin/bootstrap/css/bootstrap.css}" rel="stylesheet" />

<!-- ClEditor -->
<link th:href="@{/resources/plugin/cleditor/jquery.cleditor.css}" rel="stylesheet" />

<!-- jQuery UI -->
<link th:href="@{/resources/plugin/jquery/ui/css/jquery-ui-1.10.0.custom.css}" rel="stylesheet" />
<!--[if lt IE 9]>
<link th:href="@{/resources/plugin/jquery/ui/css/jquery.ui-1.10.0.ie.css}" rel="stylesheet" />
<![endif]-->

<!-- jQuery Chosen -->
<link th:href="@{/resources/plugin/jquery-chosen/chosen.css}" rel="stylesheet" />

<link th:href="@{/resources/plugin/tagit/css/jquery.tagit.css}" rel="stylesheet" />
<link th:href="@{/resources/plugin/tagit/css/tagit.ui-zendesk.css}" rel="stylesheet" />

<!-- jQuery DataTables -->
<link th:href="@{/resources/plugin/datatables/css/bootstrap.dataTables.css}" rel="stylesheet" />

<!-- Customized css -->
<link th:href="@{/resources/app/css/app.css}" rel="stylesheet" />

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
</body>

</html>